<!DOCTYPE html>
<html>
<head>
<title>A&D Web Scanner</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="static/js/jquery.min.js"></script>
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="static/js/bootstrap.min.js"></script>
</head>
<body class="banner-section">
	<div class="col-md-8 search banner-header">
		<form action="#" method="post">
			<div class="col-md-6 box" id="box">
				<input class="sel" type="text" placeholder="Please Input The URL" name="URL">
			</div>
			<div class="col-md-2">
				<button type="submit" value="Search" id="Search" style="font-size: 18px;">Search</button>
			</div>
		</form>
	</div>
	<div class="clearfix">
	</div>
	<div class="content">
		<ul class="nav nav-tabs">
  			<li class="li active" name="1"><a href="#">输出信息</a></li>
		</ul>
		<div class="box">
		<textarea class="textarea" contenteditable="true" readonly="true" name="1">{{result}}</textarea>
		</div>
	</div>
    <script>
        $('.li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            var target = $(this).attr('name');
            $('.box').children("[name='"+ target+"']").removeClass('hide').siblings().addClass('hide');
		});
        $(window).load(function() {
			document.getElementById("Search").style.height=$('#box').height()+"px";
			function changeHeight() {	
				$('.content').height(window.innerHeight*0.82);
				$('.textarea').height(window.innerHeight*0.76);
			}
			changeHeight();
			window.onresize=function(){
				console.log(window.innerHeight);
				changeHeight();
				document.getElementById("Search").style.height=$('#box').height()+"px";
			}
		});
    </script>
</body>
</html>